.info-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 232px;
}

.container {
    height: 232px;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px;
    position: relative;
    background-color: peachpuff;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.date {
    color: dodgerblue;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 16px;
}

.title {
    margin-left: 16px;
    color: black;
    margin-top: 16px;
    font-weight: bold;
}

.description {
    margin-left: 16px;
    color: black;
    font-size: 16px;
    margin-top: 16px;
}

.wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}